
#top_distance {
    margin-top: 20px;
}



.green {
    background: green;
}

.red {
    background: red;
}

#tachometer {
    width:  75%;
    height: 75%;
}

#slider.handle{
    border-radius: 50px;
}
    
